#contact{
    margin-top: 45px;
}
.contact-left{
    flex-basis: 35%;

}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #433e48;
    padding: 15px;
    margin: 15px 0;
    color: rgb(23, 17, 17);
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background: #7728c6;
}
